body{                                                         /*Especificação gerais do body */
    font-size: 13pt;
    background-color: #FFFFFF;
}

h1{                                         /*Especificação dos títulos */
    color: white;
    text-align: left;
    text-shadow: 1px 1px 0px black, 0 0 25px lightblue, 0 0 5px blue;
}

h2, h3, h4, h5, h6 {                                         /*Especificação dos títulos */
    color: #145C9E;
    text-align: left;
}


p{                                                            /*Especificação dos parágrafos */
    text-align : justify;                              /*opções: justify, right, left, center */
    text-indent: 3em;
    line-height: 2;
}

#para1{
    color:blue;
}

.colortext{
    color:red;
}

div p{
    text-align : justify;
}


/*Especificação da classe center usada para centralizar textos de seletores */
.center{
    text-align: center;
}

ul.a{
    list-style-type: square;
    list-style-position: outside;
    text-align: justify;
    line-height: 2.2;
}
