/*Especificação gerais do body */
body{
    font-size: 13pt;
}

/*Especificação dos títulos */
h1, h2, h3, h4, h5, h6 {
    color: #145C9E;
}

/*Especificação dos parágrafos */
p{
    text-align :justify;                              /*opções: justify, right, left, center */
    margin-left: 20px;
}

/*Especificação da classe center usada para centralizar textos de seletores */
.center{
    text-align: center;
}

/* Especificação para tabelas*/

table{
    width: 100%;
    color: #145C9E;
}

th{
    height: 50px;
    color: #145C9E;
}

td{
    height: 50px;
}

th, td{
    border-bottom: 1px solid #ddd
}


ul.a{
    list-style-position: oustide;
}
